* {
    margin: 0px;
    padding: 0px;
}

#Contenedor {
    margin: auto;
    width: auto;
    height: auto;
    background-color: #ffffff;
}

#Head {
    height: 100vh;
    background-image: url(../Imagenes/BG3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

.Titulo {
    margin-top: 40px;
    font-size: 20vh;
    text-align:center;
}

.Subtitulo {
    font-size: 6vh;
    font-weight: 300;
    margin-bottom: 32px;
}

.Boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.Boton2 {
    margin-top:0;
    float: left;
    display: inline-block;
    padding: 0;
    width: 140px;
    border: none;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

#Datos {
    height: auto;
    background-color: #ffffff;
    position:relative;

}


.LogoPr {
    float: left;
    height: 200px;
    width: 300px;
}

.QuienesSomos {
    text-align: center;
    font-size: 85px;
    font-weight: 300;
}

.PaQuiSo {
    margin-top: 25px;
    margin-bottom: 13px;
    margin: 1em;
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
    color: rgb(24,20,20);
}

#Principal {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgb(24,20,20);
    text-align: center;
}

.contain1 {
    width: 32%;
    height: 100%;
    background-color: #b6ff00;
    float: left;
}

.contain2 {
    width: 36%;
    height: 100%;
    background-color: black;
    float: left;
}

.imgcontain {
    margin: 200px auto;
    width: 90%;
    height: 240px;
}

.contain3 {
    width: 32%;
    height: 100%;
    background-color: #b6ff00;
    float: left;
}

footer {
    height: 100vh;
    background-image: url(../Imagenes/BGL1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

.titulo-footer, .subtitulo-footer{
    color:#b6ff00;
    
}

.titulo-footer {
    margin-top:40px;
    text-align: center;
    font-size: 56px;
}

.Subtitulo-footer {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 64px;
}

.form-footer{
    display:flex;
    width:700px;;
    justify-content:space-between;
    flex-wrap:wrap;
    margin:auto;
}

input[type=text], input[type=email] {
    display: inline-block;
    margin:auto;
    height:40px;
    width: 400px;
    border: none;
    color:#ffffff;
    font-family: sans-serif;
    background: rgba(37,37,37,.7);
    margin-bottom: 16px;
    border-top: 1px solid rgba(37,37,37,.7);
}

textarea {
    margin:auto;
    display: block;
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37,37,37,.7);
    border:none;
    color:#ffffff;
    font-family:sans-serif;
    margin-bottom:16px;
}

input[type="submit"] {
    display: inline-block;
    margin-left:auto;
    border: none;
    color: #ffffff;
    background: rgba(37,37,37,.7);
    width:96px;
}

.TriB {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.TriB1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2c3e50;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.TriT {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.TriT1 {
    position: absolute;
    top: 0;
    left: 0;
    background:#2c3e50;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
