*{
    padding:0;
    margin:0;
}

.background {
  
    height: 100vh;
    background-image: url(../Imagenes/BGL1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:scroll;
}

.img-responsive{
    margin:1vh;
    margin-bottom:25px;
    width:250px;
    height:250px;
    border:solid 5px black;
    float:left;
    margin-left:auto;
   
}

.img-responsive:hover{
    border:solid 4px black;

}
